PORTAL_BASE_URL=https://api-sbx.portaldeassinaturas.com.br
PORTAL_API_TOKEN=seu_token_aqui
PORTAL_API_CODE=
PORTAL_API_BASE_PATH=api/v2
PORTAL_SSL_VERIFY=true
PORTAL_SSL_CAINFO=
DATABASE_PATH=storage/database.sqlite
